﻿@page "/basket"

@using Sberbank.Frontend.Data
@using Sberbank.ModelToDB
@inject SberbankAPI api


<div>
    <StatusAuth />
</div>
<h3>Basket</h3>
<label>@ResultCredit</label>

@if (Baskets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Стоимость</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var basket in Baskets)
            {
                <tr>
                    <td>@basket.Product.Name</td>
                    <td>@basket.Product.Price <button @onclick="@(e => DeleteProduct(e, basket.Id))">Удалить</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<ModelToDB.Basket> Baskets { get; set; }
    private string ResultCredit { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Auth.AuthUser != null)
        {
            if (Auth.AuthUser.User != null)
            {
                Baskets = await api.GetBasket(Auth.AuthUser.User);
            }
        }
    }

    private async Task DeleteProduct(MouseEventArgs e, int id)
    {
        if (Auth.AuthUser?.User != null)
        {
            var prod = Baskets.FirstOrDefault(x => x.Id == id).Product.Name;
            var result = await api.DeleteProduct(id);
            ResultCredit = ((result != null) ? $"{result} ({prod})" : "");
            Baskets = Baskets.Where(x => x.Id != id);
        }
        else
            ResultCredit = "Произошла ошибка.";
    }
}
