﻿@page "/credits"
@using Sberbank.Frontend.Data
@using Sberbank.ModelToDB
@inject SberbankAPI api

<div>
    <StatusAuth />
</div>
<h3>Credits</h3>
<label>@ResultCredit</label>
    @if (Cred == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Процентная ставка</th>
                    <th>Минимальный срок кредита</th>
                    <th>Максимальный срок кредита</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var credit in Cred)
                {
                    <tr>
                        <td><button @onclick="@(e => AddCredit(e, credit.Id))">Взять кредит</button>&nbsp @credit.Name</td>
                        <td>@credit.InterestRate</td>
                        <td>@credit.MounthTermMin</td>
                        <td>@credit.MounthTermMax</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @code {
        private IEnumerable<ModelToDB.Credit> Cred { get; set; }
        private string ResultCredit { get; set; }

        protected override async Task OnInitializedAsync()
        {
            Cred = await api.GetCredits();
        }

        private async Task AddCredit(MouseEventArgs e, int id)
        {
            if (Auth.AuthUser?.User != null)
            {
                var addcredit = Cred.FirstOrDefault(x => x.Id == id);
                ResultCredit = await api.AddCreditToDB(addcredit);
            }
            else
                ResultCredit = "Авторизуйтесь, что бы взять кредит";
        }
    }
