﻿@using Newtonsoft.Json
@using Sberbank.Frontend.Data 
@using ModelToDB
@inject SberbankAPI api
<h1>Login</h1>
<div>
    <p>Пользователь будет автоматически создан, если отсутствует в БД.</p>
</div>
<div>
    Введите имя:
    <input placeholder="" @bind="FirstName" />
</div>
<div>
    Введите фамилию:
    <input placeholder="" @bind="SureName" />
</div>
<div>
    Введите адрес электронной почты:
    <input placeholder="" @bind="Email" />
</div>
<button @onclick="Logined">Авторизоваться</button>

@code {
    private string FirstName { get; set; }
    private string SureName { get; set; }
    private string Email { get; set; }
    private string Resultate { get; set; }

    private async Task Logined()
    {
        var user = new User { FirstName = FirstName, SureName = SureName, Email = Email };
        var userAuth = await api.AuthUser(user);
        if (userAuth != null)
        {
            SberbankAPI.Status = $"Вы авторизованы как {userAuth.SureName} {userAuth.FirstName}.";
            Auth.AuthUser = new Auth { User = userAuth, TimeAuth = DateTime.Now };
        }
        else
            Auth.AuthUser = null;
    }
}
