﻿@page "/mycredits"
@using Sberbank.Frontend.Data
@using Sberbank.ModelToDB
@inject SberbankAPI api

<div>
    <StatusAuth />
</div>
<h3>MyCredits</h3>

@if (Credits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Процентная ставка</th>
                <th>Срок кредита</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var credit in Credits)
            {
            <tr>
                <td>@credit.Credit.Name</td>
                <td>@credit.Credit.InterestRate</td>
                <td>@credit.CreditTermMonth</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<ModelToDB.CustomersCredit> Credits { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Auth.AuthUser != null)
        {
            if (Auth.AuthUser.User != null)
            {
                Credits = await api.GetMyCredits(Auth.AuthUser.User);
            }
        }
    }
}
