﻿@page "/products"
@using Sberbank.Frontend.Data
@using Sberbank.ModelToDB
@inject SberbankAPI api

<div>
    <StatusAuth />
</div>
<h3>Products</h3>
<label>@ResultCredit</label>
@if (Prod == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Стоимость</th>
                <th>Скидка</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Prod)
            {
            <tr>
                <td><button @onclick="@(e => AddProduct(e, product.Id))">Купить</button>&nbsp @product.Name</td>
                <td>@product.Price</td>
                <td>@product.Sale</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<ModelToDB.Product> Prod { get; set; }
    private string ResultCredit { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Prod = await api.GetProducts();
    }

    private async Task AddProduct(MouseEventArgs e, int id)
    {
        if (Auth.AuthUser?.User != null)
        {
            var addprod = Prod.FirstOrDefault(x => x.Id == id);
            ResultCredit = await api.AddProdToDB(addprod) + $"({addprod.Name})";
        }
        else
            ResultCredit = "Авторизуйтесь, что бы совершить покупку";
    }


}
